.cart-widget{
    text-decoration: none;
    display:block;
    color: white;
    visibility:visible;
    opacity:1;
    transition: all .5s ease-in-out;
}


.cart-hidden{
visibility: hidden;
opacity: 0;
}

.cart-cantidad{
    text-decoration: none;
    height:2.5rem;
    width:2rem;
    font-size:1.5rem;
    border:2px solid yellow;
    border-radius:70%;
    background-color:black;
    text-align:center;
    position: absolute;
    background-color: black;
    :focus{
        background-color:#ff2b37;
    }
    :hover{
        background-color:#ff2b37;
    }
    :active{
        color:#fee600;
    }
}

