@import 'variables';

*{
    font-family: 'Luckiest Guy', cursive; 
}

@mixin font ($color, $size, $align){
color: $color;
font-size: $size;
text-align: $align;
}

.titulo{
    @include font($color-texto,3.5rem ,center);
}

h2{
    @include font($color-texto2,3rem ,center);
    padding-left: 10px;
    letter-spacing: 1px;
    background-color: #fee600;
}

h3{
    @extend h2
}

h4{
    font-size: 2.5rem;
}
h6{
    color:white;
}
p{
    @include font($color-texto,1.5rem ,center );
}

.contacto--nombre .contacto--email .contacto--mensaje {
    font-size: 2em;
}
