.logo{
    width:200px;
}

.navBarDown{
    background-color: black;
}

.navbar-expand .navbar-nav .dropdown-menu {
    position: absolute;
    background-color: black;
    :focus{
        background-color:#ff2b37;
    }
    :hover{
        background-color:#ff2b37;
    }
    :active{
        color:#fee600;
    }
}

.active{
    color:#fee600;
    font-weight: bold;
}
